.body{
    background-color: transparent;
}

#heading{
    display: flex;
    justify-content: space-around;
    background-color: turquoise;
    color: white;
}


#threecities{
    display:flex;
    justify-content:space-around;
    flex-direction:row;
    transition: 0.5s;
    background-color:white;
}

#search{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color:rgb(141, 240, 128);
}

#result{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
